@import '../../../../styles.scss';
.wrapper {
  width: 310px;
  height: 300px;
  margin: 5px;
}

.forms {
  padding: 1rem;

  h3 {
    text-align: center;
  }

  button {
    background-color: inherit !important;
    border: none;
    cursor: pointer;
    font-size: map-get($font_size, desktop_tiny);

    img {
      width: 100%;
      transform: translateY(1px);
    }
  }
}

.forms-input {
  width: 85%;
  margin: 0.2rem;
  position: relative;

}

