<div class="wrapper">

  <div *ngIf="isLoading" class="loading-spinner">
    <div class="spinner"></div>
  </div>

  <div *ngIf="!isLoading">
    <ng-container *ngIf="changeForms; then signupForms else loginForms"></ng-container>
  </div>

</div>


<ng-template #loginForms>
  <form  class="forms" [formGroup]="loginForm" (submit)="onLoginSubmit()">
    <h3>Zaloguj się</h3>
    <input
    type="email"
    placeholder='Adres email'
    id='login_email'
    name='login_email'
    class='forms-input'
    formControlName="login_email"
    >
    <input
    [type]="changePasswordType"
    placeholder='Hasło'
    id='login_password'
    name='login_password'
    class='forms-input'
    formControlName="login_password"
    >
    <div><img [src]=imgSource  (click)='handlerPasswordType()'></div>
    <input type="submit" value='Zaloguj się' id="submit-button" [disabled]="loginForm.invalid"> <br>
    <div *ngIf="invalidLogin" class='error'>Nie można się zalogować!</div>
    <button (click)='handlerForms()'>Nie masz konta? Zarejestruj się</button>
  </form>
</ng-template>



<ng-template #signupForms>
  <form class="forms" [formGroup]="signupForm" (submit)="onSignupForm()">
    <h3>Zarejestruj się</h3>
    <input
    type="email"
    placeholder='Adres email'
    id='signup_email'
    name='signup_email'
    class='forms-input'
    formControlName="signup_email"
    >
    <input
    [type]="changePasswordType"
    placeholder='Hasło'
    id='signup_password'
    name='signup_password'
    class='forms-input'
    formControlName="signup_password"
    >
    <div><img [src]='imgSource' (click)='handlerPasswordType()' ></div>
    <input type="submit" value='Zarejestruj się' id="submit-button" [disabled]="signupForm.invalid"> <br>
    <div *ngIf="invalidSignup" class='error'>Nie można się zarejestrować</div>
    <button (click)='handlerForms()'>Masz konto? Zaloguj się</button>
  </form>
</ng-template>
