@import '../../../../styles.scss';
.wrapper {
  width: 310px;
  height: 300px;
  margin: 5px;
}

.forms {
  padding: 1rem;

  h3 {
    text-align: center;
  }

  button{
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: map-get($font_size, desktop_tiny);
  }
  input[type='submit']{
    background-color: #00ff00;
    border: 1px solid #00ff00;
    cursor: pointer;
    margin: 1rem;
    padding: .2rem;
    font-size: map-get($font_size, desktop_small);
  }
  div{
    display: inline;

    img {
      width: 25px;
      position: relative;
      transform: translate(5px, 6px);
      cursor: pointer;
    }
  }
}

.forms-input {
  width: 85%;
  margin: 0.5rem 0;
  border: none;
  outline: none;
  overflow: hidden;
  font-size: map-get($font_size, desktop_small);
}
#login_email {
  margin-top: 1.5rem;
}
#signup_email {
  margin-top: 1.5rem;
}



.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
