<footer class="footer">
  <div class="footer-menu-item"><a routerLink='/'>Strona Główna</a></div>
  <div class="footer-menu-item"><a routerLink='/account'>Konto</a></div>
  <div class="footer-menu-item"><a>Panel Klienta</a></div>
  <div class="footer-menu-item"><a>Regulamin</a></div>
  <div class="footer-menu-item"><a routerLink='/settings'>Ustawienia</a></div>
  <div class="footer-menu-item"><a>Polityka Prywatności</a></div>
  <div class="footer-menu-item"><a routerLink='/resources'>Zasoby</a></div>
  <div class="footer-menu-item"><a>Warunki użytkowania</a></div>
</footer>
