<nav class="navigation"  [ngClass]="{'active': enabledMenu, 'deactive': !enabledMenu}">
  <div class="nav-menu-item show-menu"><img src="../../../../assets/img/list.svg" alt="Menu"  (click)="showMenu()"></div>
  <div class="nav-menu-item" *ngIf="enabledMenu">
    <a routerLink='home' (click)="showMenuMobile()">
      <img src="../../../../assets/img/house.svg" alt="Go to main page" class='nav-menu-item-img'>
      Strona Główna <p>Wróć na stronę główną</p>
    </a>
  </div>
  <div class="nav-menu-item" *ngIf="enabledMenu">
    <a routerLink='/resources' (click)="showMenuMobile()">
      <img src="../../../../assets/img/gear.svg" alt="Go to settings" class='nav-menu-item-img'>
      Zasoby <p>Przeszukaj zasoby</p>
    </a>
  </div>
  <div class="nav-menu-item" *ngIf="enabledMenu">
    <a routerLink='/settings' (click)="showMenuMobile()">
      <img src="../../../../assets/img/gear.svg" alt="Go to settings" class='nav-menu-item-img'>
      Ustawienia <p>Sprawdż ustawienia</p>
    </a>
  </div>
  <div class="nav-menu-item" *ngIf="enabledMenu">
    <a routerLink='/account'  (click)="showMenuMobile()">
      <img src="../../../../assets/img/person.svg" alt="Go to account" class='nav-menu-item-img'>
      Konto <p>Wejdź na konto</p>
    </a>
  </div>
  <div class="nav-menu-item" *ngIf="enabledMenu">
    <img src="../../../../assets/img/box-arrow-left.svg" alt="Log out"class='nav-menu-item-img'>
    <button (click)="logout()">
      Wyloguj się
    </button>
  </div>
</nav>
