.navigation {
  width: 100%;
  padding: 1rem .5rem;
  font-size: 20px;
  text-align: center;

  .show-menu {
    cursor: pointer;
    padding: 1rem;

    img{
      width: 35px;
      transition: width 0.24s ease;
      overflow: hidden;
    }
  }
  .nav-menu-item {
    padding: .5rem 0;

    p{
      display: none;
    }
  }
}


@media screen and (max-width: 600px){
  .active {
    .nav-menu-item{
      font-size: 18px;
      text-align: center;

      &:first-child{
        text-align: left;
      }

      p{
        font-size: 13px;
        display: block;
      }
    }
    .app-content{
      display: none;
    }
  }
  .deactive {
    .show-menu img {
      width: 20px;
      transition: width 0.24s ease;
      overflow: hidden;
    }
  }
  .navigation {
    padding: 0.4rem;
  }
}
