<div class="account-container">
  <span [ngSwitch]="changeTemplate">

    <ng-container *ngSwitchCase="'isAdmin'">
      <ng-template [ngTemplateOutlet]="administrator"></ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="'isMod'">
      <ng-template [ngTemplateOutlet]="moderator"></ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="'isUser'">
      <ng-template [ngTemplateOutlet]="user"></ng-template>
    </ng-container>

  </span>
</div>

<ng-template #administrator>
  <nav class="account-nav-bar">
    <div><a routerLink='/account'>Profil publiczny</a></div>
    <div><a routerLink='/account/security'>Bezpieczeństwo</a></div>
    <div><a routerLink='/acccount/settings'>Ustawienia Konta</a></div>
    <div><a routerLink='/'></a></div>
    <div><a routerLink='/'></a></div>
  </nav>
  <div class="account-content">
    <router-outlet></router-outlet>
  </div>
</ng-template>

<ng-template #moderator >
  konto moda
</ng-template>

<ng-template #user>
  konto usera
</ng-template>


<ng-template #profilPubliczny></ng-template>
